<section id="contact" class="py-1">

    <div class="d-flex justify-content-center my-5"><h2 class="text-center mt-5">Contact Us.</h2></div>
    <div class="container pt-5 d-flex justify-content-center">
      <div class="g-4 row" style="width: 80%;">
        <div class="col-lg-4">
          <div class="bg-white p-3 rounded-2 text-center d-flex flex-column align-items-center contact-card gap-3">
            <div class="iconCont d-flex align-items-center justify-content-center ">
              <i class="fa-sharp fa-solid fa-location-arrow fs-4"></i>
              </div>
            <h3>Address</h3>
          <p>6834 Hollywood Blvd - Los Angeles CA</p>

          </div>
          </div>

          <div class="col-lg-4">
            <div class="bg-white p-3 rounded-2 text-center d-flex flex-column align-items-center contact-card gap-3">
              <div class="iconCont d-flex align-items-center justify-content-center ">
                <i class="fa-solid fa-envelope fs-4"></i>
                </div>
              <h3>Email</h3>
            <p>Support@website.com</p>

            </div>
            </div>


            <div class="col-lg-4">
              <div class="bg-white p-3 rounded-2 text-center d-flex flex-column align-items-center contact-card gap-3">
                <div class="iconCont d-flex align-items-center justify-content-center ">
                  <i class="fa-solid fa-phone fs-4"></i>
                  </div>
                <h3>Phone</h3>
              <p>+20 010 2517 8918</p>

              </div>
              </div>
          
             
         
  
        
      

     
      </div>
    </div>


      <div class="container justify-content-center align-items-center" style="width: 68%;">

        <form action="" class="pb-3 pt-5">
          <div class="row justify-content-center align-items-cente gy-3 ">
            <div class="col-lg-6">
              <div>
                <input type="text" class="p-3 w-100" placeholder="Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <input type="email" class="p-3 w-100" placeholder="Email">
              </div>
            </div>
            <div class="col-lg-12">
              <div>
                <textarea type="email" class="p-3 " placeholder="Message"></textarea>
              </div>
            </div>
          </div>
          <input type="submit" value="Submit" class="btn submit text-white mt-4">
          
          
        </form>


      </div>
      






  </section>
