

<section class="vh-100 d-flex justify-content-center align-items-center gap" id="home">
        <div class="overLayer"></div>
        <div class="homecont text-center text-white d-flex flex-column align-items-center">
          <h2>Hello  IAm Larry Daniels</h2>

          <div class="iconCont d-flex gap-2 mt-5">
            <a href="https://www.facebook.com/groups/route.web.course.cycel42/members/invited" class=" d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.facebook.com/groups/route.web.course.cycel42/members/invited" class=" d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/groups/route.web.course.cycel42/members/invited" class=" d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.facebook.com/groups/route.web.course.cycel42/members/invited" class=" d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-behance"></i>
            </a>
            <a href="https://www.facebook.com/groups/route.web.course.cycel42/members/invited" class=" d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-youtube"></i>
            </a>

          </div>
        </div>

      </section>
